.userEmail {
    color: var(--text-on-inverse);
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

.logoutButton {
    background: transparent;
    border: 1px solid var(--text-on-inverse);
    color: var(--text-on-inverse);
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {
    background-color: var(--text-on-inverse);
    color: var(--text-dark);
}

.navigationItem {
    display: flex;
    align-items: center;
}

.navigationLink {
    text-decoration: none;
    color: var(--text-on-inverse);
    font-size: 1rem;
}

.navigationLink:hover {
    color: var(--text-link-inverse-hover);
}
