.button{
    font-family: var(--font-family);
    border-radius: 8px;
    padding: 16px;
    width: 372px;
    height: 54px;
    color: var(--text-on-brand);
    font-weight: 600;
    font-size: 18px;
    background-color: var(--brand-primary);
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 24px auto 0;
    transition: background-color 200ms ease;
}
.button:hover, .button:focus{
    background-color: var(--brand-primary-hover);
}
.button:active{
    border-radius: 8px;
    border-color: var(--text-on-brand);
}
@media (min-width: 768px) {
    .button{
      width: 338px;
    }
}
@media (min-width: 1440px) {
  .button{
      width: 289px;
    }
}
